.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__video {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__pointer {
  position: absolute;
  top: 50%;
  left: calc(50% - 13px);
  border: 2px solid var(--font-color);
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transition: border var(--timing);
  transform: rotate(-45deg);
  width: 14px;
  height: 14px;
}

.app__button {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin: auto;
}

.app__placeholder {
  position: absolute;
  width: 75%;
  height: 75%;
}

.app__svg {
  fill: var(--font-color);
  opacity: 0.7;
}
.app__switch {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 15%;
  transform: scale(1.2);
}
