.button {
  padding: 15px;

  background-color: transparent;

  border: 2px solid var(--font-color);
  transition: border var(--timing);

  border-radius: 50%;
  transform: scale(0.9);
}

.button:focus {
  outline: none;
}
.button:active {
  box-shadow: 0 0 10px 5px var(--font-color);
  transition: box-shadow var(--timing);
}

.button__svg {
  fill: var(--font-color);
  transition: fill var(--timing);
}
