:root {
  --bg-color: #111;
  --font-color: #eee;
  --timing: 150ms;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);
  transition: background-color var(--timing);

  overflow: hidden;
}
